<center>

  <h1>Knight Industries Two Thousand</h1>
  <h3>The Hoff Approved ChatBot</h3>

  <img src="http://pop.h-cdn.co/assets/15/21/980x490/landscape-1432311981-lot-8-a.jpg" />

  <p>Click here to start a new adventure with KITT!</p>

  <a href="/chat/index" class="button">Start Conversation</a>

</center>
