<center>

  <% @messages.each do |message| %>

  <div class="typewriter">
    <h1><%=message.text%></h1>
  </div>

  <br />
  <a href="/endpage/lose"><%=message.response1%></a>
  <br />
  <br />
  <a href="/endpage/win"><%=message.response2%></a>

  <% end %>

</center>
